@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Fira Code";
    transition: .1s;
}

body.dark-mode {
    background-color: #171717;
    color: #ffffff;
}

body.light-mode {
    color: #171717;
    background-color: #eeeeee;
}

footer {
    margin-top: 20px;
}

.format-document {
    margin-left: 20px;
    margin-right: 20px;
}

.format-document-header {
    margin-top: -50px;
}

hr {
    margin: 7px;
    border-radius: 7px;
}

p {
    font-size: 17px;
    text-wrap: pretty;
}

p.intro {
    text-align: center;
}

p.footer {
    text-align: center;
}

li {
    font-size: 18px;
    text-wrap: pretty;
}

ol {
    font-size: 18px;
    text-wrap: pretty;
}

h1 {
    color: #1F75FE;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #1F75FE;
    font-family: inherit;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

a {
    text-decoration: none;
    color: #1F75FE;
}

img {
    width: 55px;
    height: auto;
}

img.rust {
    width: 65px;
    height: auto;
}

img.java {
    width: 65px;
    height: auto;
}

svg {
    width: 50px;
    height: auto;
    fill: 	rgb(156, 156, 156);
    transition: fill linear .15s;
    margin-left: 3px;
    margin-right: 3px;
}

svg.github {
    margin-left: 0px;
}

svg.spotify {
    margin-right: 0px;
}

svg.email {
    width: 65px;
    height: auto;
    margin-top: -12px;
}

svg.github:hover {
    fill: #ffffff;
}

body.light-mode svg {
    fill: #808080;
}

body.light-mode svg.github:hover {
    fill: #171515;
}

svg.linkedin:hover {
    fill: #0077B5;
}

svg.email:hover {
    fill: #6D4AFF;
}

svg.youtube:hover {
    fill: #ff0000;
}

svg.steam:hover {
    fill: #127AAD;
}

svg.spotify:hover {
    fill: #20D860;
}

.left-right-h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-right-links {
    display: flex;
    justify-content: space-between;
}

.left-links,
.right-links {
    display: flex;
    justify-content: space-between;
}

a.left-links {
    text-align: left;
}

a.right-links {
    text-align: right;
}


.site-body-left-column-site-theme-toggle {
    padding: 0 0 12px 0;
    display: flex;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex: none;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 34px;
}

.switch:has(:checked) {
    border-color: white;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808080;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #eeeeee;
    -webkit-transition: .05s;
    transition: .05s;
}

input:checked+.slider {
    background-color: #171515;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1F75FE;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.checkmark-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    p.footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        margin-top: -10px;
    }

    p {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p.footer {
        font-size: 11px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    img {
        scale: .65;
        margin-left: -12px;
        margin-right: -12px;
    }

    svg {
        scale: .75;
        margin-left: -5px;
        margin-right: -5px;
    }

    svg.email {
        margin-top: -10px;
    }

    svg.github {
        margin-left: -9px;
    }

    svg.spotify {
        margin-right: -7px;
    }

    .switch {
        scale: .85;
    }
}

@media screen and (max-width: 400px) {
    p.footer {
        font-size: 10px;
    }
}