@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --background-color-dark: #171717;
    --background-color-light: #F5F5DC;
    --color-dark: #ffffff;
    --color-light: #3c3836;
    --accent-color-dark: #1F75FE;
    --accent-color-light: #458588;
    --secondary-color-dark: #9c9c9c;
    --secondary-color-light: #928374;
}

body {
    max-width: 800px;
    text-align: left;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Fira Code";
    transition: .1s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--color-dark);
}

body.light-mode {
    color: var(--color-light);
    background-color: var(--background-color-light);
}

footer {
    margin-top: 20px;
}

.format-document {
    margin-left: 20px;
    margin-right: 20px;
}

.format-document-header {
    margin-top: -50px;
}

hr {
    margin: 7px;
    color: var(--color-dark);
    background-color: var(--color-dark);
    border-style: none;
    height: 1px;
}

body.light-mode hr {
    color: var(--color-light);
    background-color: var(--color-light);
}

p {
    font-size: 17px;
    text-wrap: pretty;
}

p.intro {
    text-align: center;
}

p.footer {
    text-align: center;
}

li {
    font-size: inherit;
    text-wrap: pretty;
}

ul li {
    padding-left: 10px;
}

ul {
    font-size: inherit;
    text-wrap: pretty;
    padding-left: 30px;
}

ol {
    font-size: inherit;
    text-wrap: pretty;
}

h1 {
    color: var(--accent-color-dark);
    font-size: 40px;
    text-align: center;
}

body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4 {
    color: var(--accent-color-light)
}

h2 {
    font-size: 30px;
    color: var(--accent-color-dark);
    font-family: inherit;
}

h3 {
    color: var(--accent-color-dark);
    font-family: inherit;
}

h3 {
    font-size: 23px;
    color: var(--accent-color-dark);
    font-family: inherit;
}

body.light-mode h3, body.light-mode h4 {
    color: var(--accent-color-dark);
    font-family: inherit;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

a {
    text-decoration: none;
    color: var(--accent-color-dark);
}

body.light-mode a {
    color: var(--accent-color-light);
}

img {
    width: 55px;
    height: auto;
}

img.rust {
    width: 65px;
    height: auto;
}

img.java {
    width: 65px;
    height: auto;
}

svg {
    width: 50px;
    height: auto;
    fill: 	var(--secondary-color-dark);
    transition: fill linear .15s;
    margin-left: 3px;
    margin-right: 3px;
}

svg.github {
    margin-left: 0px;
}

svg.spotify {
    margin-right: 0px;
}

svg.email {
    width: 65px;
    height: auto;
    margin-top: -12px;
}

svg.github:hover {
    fill: #ffffff;
}

body.light-mode svg {
    fill: var(--secondary-color-light);
}

body.light-mode svg.github:hover {
    fill: #171515;
}

svg.linkedin:hover {
    fill: #0077B5;
}

svg.email:hover {
    fill: #6D4AFF;
}

svg.youtube:hover {
    fill: #ff0000;
}

svg.steam:hover {
    fill: #127AAD;
}

svg.spotify:hover {
    fill: #20D860;
}

.left-right-h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-right-links {
    display: flex;
    justify-content: space-between;
}

.left-links,
.right-links {
    display: flex;
    justify-content: space-between;
}

a.left-links {
    text-align: left;
}

a.right-links {
    text-align: right;
}


.site-body-left-column-site-theme-toggle {
    padding: 0 0 12px 0;
    display: flex;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex: none;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 34px;
    transition: .05s;
}

.switch:has(:checked) {
    border-color: var(--color-dark);
}

body.dark-mode .switch:has(:checked):hover {
    border-color: var(--accent-color-dark);
}

body.light-mode .switch:not(:checked):hover .slider {
    background-color: var(--accent-color-light);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color-light);
    -webkit-transition: .4s;
    transition: .4s;
    transition: background-color 0.1s ease-in-out, color 0.5s ease-in-out;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color-light);
    -webkit-transition: .05s;
    transition: .05s;
}

input:checked+.slider {
    background-color: var(--background-color-dark);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent-color-dark);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.checkmark-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    p.footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        margin-top: -10px;
    }

    p {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p.footer {
        font-size: 11px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 15px;
    }

    img {
        scale: .65;
        margin-left: -12px;
        margin-right: -12px;
    }

    svg {
        scale: .75;
        margin-left: -5px;
        margin-right: -5px;
    }

    svg.email {
        margin-top: -10px;
    }

    svg.github {
        margin-left: -9px;
    }

    svg.spotify {
        margin-right: -7px;
    }

    .switch {
        scale: .85;
    }

    li {
        margin-left: -15px;
    }
}

@media screen and (max-width: 400px) {
    p.footer {
        font-size: 10px;
    }
}