.switch-and-notes {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h2.recipe-name {
    text-align: center;
}

a.recipe-link {
    font-size: 24px;
    display: block;
    overflow: hidden;
    transition: .1s;
    max-height: 40px;
    padding: 2.5px;
}

a.hide-recipe {
    max-height: 0px !important;
    padding: 0px !important;
}

code {
    color: var(--secondary-color-dark);
    font-family: inherit;
    font-size: inherit;
}

body.light-mode code {
    color: var(--secondary-color-light);
}

.notes {
    color: var(--accent-color-dark);
}

body.dark-mode .notes {
    text-shadow: currentColor 0px 0px 10px;
}

body.light-mode .notes {
    color: var(--accent-color-light);
}

.hide-notes {
    display: none;
}

button#notes-button {
    text-align: center;
    border-radius: 7px;
    border-width: 1.75px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border-style: solid;
    padding: 10px;
}

body.dark-mode button#notes-button {
    background-color: var(--background-color-dark);
    color: var(--color-dark);
    border-color: var(--color-dark);
    transition: .05s;
}

body.dark-mode button#notes-button:hover {
    border-color: var(--accent-color-dark);
}

body.light-mode button#notes-button {
    background-color: var(--secondary-color-light);
    color: var(--background-color-light);
    border-color: var(--background-color-light);
}

body.light-mode button#notes-button:hover {
    background-color: var(--accent-color-light);
}

pre {
    border-radius: 7px;
    border-style: solid;
    border-width: 1.75px;
    padding: 7px;
    text-wrap: stable;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 18px;
    transition: .1s;
}

pre code {
    color: var(--color-dark);
}

body.light-mode pre code {
    color: var(--background-color-light);
}

body.dark-mode .search-bar {
    background-color: var(--background-color-dark);
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.search-bar::placeholder {
    color: var(--secondary-color-dark);
}

body.light-mode .search-bar::placeholder {
    color: var(--background-color-light);
}

.search-bar:focus::placeholder {
    color: transparent;
}

body.light-mode pre,
body.light-mode .search-bar {
    background-color: var(--secondary-color-light);
    border-style: none;
    color: var(--background-color-light);
}

.search-bar {
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1.75px;
    margin-bottom: 25px;
    box-sizing: border-box;
    outline: none;
}

.left-actions {
    display: flex;
    align-items: center;
}

.homepage-svg {
    fill: var(--color-dark);
    transition: .1s;
}

.house-filled {
    fill: transparent;
    transition: .1s;
}

body.light-mode .homepage-svg .house-filled {
    fill: var(--secondary-color-light);
    stroke: var(--secondary-color-light);
    stroke-width: 3px;
}

.homepage-svg:hover {
    fill: var(--accent-color-dark) !important;
}

body.light-mode .homepage-svg:hover .house-filled {
    fill: var(--accent-color-light) !important;
    stroke: var(--accent-color-light) !important;
}

@media screen and (max-width: 500px) {
    button#notes-button {
        font-size: 14px;
    }

    .recipe-name:not(.homepage-recipe-name) {
        position: absolute;
        top: 80px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .homepage-recipe-name {
        text-align: left;
    }

    .switch-and-notes:has(.recipe-name:not(.homepage-recipe-name)) {
        margin-bottom: 50px;
    }

    a.recipe-link {
        font-size: 20px;
        max-height: 60px;
    }

    pre {
        font-size: 24px;
    }

    .search-bar {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .homepage-svg {
        padding: 20px;
    }

    footer {
        margin-top: 10px;
    }

    svg {
        margin-left: -30px;
        margin-right: -30px;
    }
}