.switch-and-notes {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h2.recipe-name {
    text-align: center;
}

.hide-notes {
    display: none;
}

button#notes-button {
    text-align: center;
    border-radius: 7px;
    border-width: 1.75px;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    border-style: solid;
    padding: 10px;
}

body.dark-mode button#notes-button {
    background-color: #171717;
    color: #ffffff;
    border-color: #ffffff;
}

body.light-mode button#notes-button {
    background-color: #808080;
    color: #eeeeee;
    border-color: #eeeeee;
}

pre {
    color: inherit;
    border-radius: 7px;
    border-style: solid;
    border-width: 1.75px;
    padding: 7px;
    text-wrap: stable;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: 18px;
    transition: .1s;
}

body.dark-mode pre {
    background-color: #171717;
    color: #ffffff;
    border-color: #ffffff;
}

body.light-mode pre {
    background-color: #808080;
    border-style: none;
    color: #eeeeee;
}

@media screen and (max-width: 1000px) {
    button#notes-button {
        font-size: 24px;
    }
}